* {
	box-sizing: border-box;
}

body {
	color: #1A2B2B;
	font-family: "freight-sans-pro", sans-serif;
	font-weight: 300;
}

.wrapper {
	margin: 0 auto;
	max-width: 37.5em;
	width: 90%;
}

.app-name {
	text-align: center;
	font-size: 2.5em;
	font-weight: 300;
	margin: 4.5em 0 2.25em;
}

.new-item {
	border-bottom: 1px solid #bdc3c7;
	height: 2.5em;
	margin-bottom: 1.25em;
	padding: 0.5em 0.3125em;
	position: relative;
	width: 100%;
}

.new-item__text {
	border: none;
	font-family: "freight-sans-pro", sans-serif;
	font-size: 1.25em;
	outline: none;
	padding-right: 2.5em;
	position: absolute;
	width: 100%;
}

.hide-show {
	margin-bottom: 3.125em;
	text-align: center;
	width: 100%;
}

.list {
	list-style-type: none;
	margin-bottom: 6.5em;
	padding: 0;
}

.list__item {
	height: 1.5em;
	margin: 1.25em 0;
	position: relative;
	width: 100%;
}

.list__item-name {
	font-size: 1.25em;
	padding: 0 2.5em;
	position: relative;
	vertical-align: middle;
	width: 100%;
}

/* Icons and Buttons */

.new-item__submit,
.list__item-checkbox,
.list__item-name::before,
.delete-item-button {
	display: inline-block;
	font-family: "foundation-icons";
	height: 2em;
	margin-top: -1em;
	outline: none;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 2em;
}

.new-item__submit,
.delete-item-button {
	right: 0;
}

.list__item-checkbox,
.list__item-name::before {
	left: 0;
}

.new-item__submit {
	background-color: #27ae60;
	border: none;
	color: #fff;
}

.list__item-checkbox {
	z-index: 9999;
	opacity: 0;	
	cursor: pointer;
}

.list__item-checkbox:checked + .list__item-name::before {
	color: #1A2B2B;
	content: '\f126';
}

.list__item-checkbox:checked + .list__item-name {
	color: #95a5a6;
}

.list__item-name::before {
	border: 0.1875em solid #95a5a6;
	border-radius: 1em;
	box-sizing: border-box;
	content: '';
	font-size: 0.8em;
	line-height: 1.12;
	padding: 0.3775em 0;
}

.delete-item-button {
    color: #e74c3c;
    border: none;
    background: transparent;
}



